:root{
    /* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
    /* LIGHT THEME VARIABLES DICTIONARY (OBSOLETE) */
    --theme-lt-bg:          rgba(var(--white), 1.0);          /* light */ 
    --theme-lt-blocks:      rgba(var(--dusk-blue), 1.0);      /* lightgray */ 
    --theme-lt-heavy:       rgba(var(--dusk-blue), 1.0);      /* gray */ 
    --theme-lt-body-text:   rgba(var(--dusk-blue), 1.0);      /* darkgray */ 
    --theme-lt-titles:      rgba(var(--dusk-blue), 1.0);      /* dark */ 
    --theme-lt-links:       rgba(var(--sky), 1.0);            /* secondary */
    --theme-lt-hover:       rgba(var(--dusk-blue), 1.0);      /* tertiary */
    --theme-lt-accent:      rgba(var(--cerulean), 1.0);       /* highlight */ 
    --theme-lt-highlight:   rgba(var(--smoke-white), 1.0);    /* textHighlight */ 
    /* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
    /* DARK THEME VARIABLES DICTIONARY (OBSOLETE) */
    --theme-dt-bg:          rgba(var(--white), 1.0);
    --theme-dt-blocks:      rgba(var(--dusk-blue), 1.0);
    --theme-dt-heavy:       rgba(var(--dusk-blue), 1.0);
    --theme-dt-body-text:   rgba(var(--dusk-blue), 1.0);
    --theme-dt-titles:      rgba(var(--dusk-blue), 1.0);
    --theme-dt-links:       rgba(var(--sky), 1.0);
    --theme-dt-hover:       rgba(var(--dusk-blue), 1.0);
    --theme-dt-accent:      rgba(var(--cerulean), 1.0);
    --theme-dt-highlight:   rgba(var(--smoke-white), 1.0);
}