/*
██████ ▄▄▄  ▄▄  ▄▄ ▄▄▄▄▄▄ ▄▄▄▄ 
██▄▄  ██▀██ ███▄██   ██  ███▄▄ 
██    ▀███▀ ██ ▀██   ██  ▄▄██▀ 
*/
:root{
    --c-font-header: "Dosis", sans-serif;
    --c-font-body:   "Dosis", sans-serif;
    --c-font-code:   "Dosis", sans-serif;

    /* Quartz default variables */
    --headerFont: var(--c-font-header);
    --bodyFont:   var(--c-font-body);
    --codeFont:   var(--c-font-code);
}