/*
██  ██ ▄▄▄▄▄▄ ▄▄ ▄▄    ▄▄ ▄▄▄▄▄▄ ▄▄ ▄▄▄▄▄  ▄▄▄▄ 
██  ██   ██   ██ ██    ██   ██   ██ ██▄▄  ███▄▄ 
▀████▀   ██   ██ ██▄▄▄ ██   ██   ██ ██▄▄▄ ▄▄██▀ 
*/

/*
▄████▄ ▄▄  ▄▄ ▄▄  ▄▄  ▄▄▄  ▄▄ ▄▄ ▄▄  ▄▄  ▄▄▄▄ ▄▄▄▄▄     ██ ▄▄▄▄▄▄ 
██▄▄██ ███▄██ ███▄██ ██▀██ ██ ██ ███▄██ ██▀▀▀ ██▄▄  ▄▄▄ ██   ██   
██  ██ ██ ▀██ ██ ▀██ ▀███▀ ▀███▀ ██ ▀██ ▀████ ██▄▄▄     ██   ██   
*/
/* USAGE:
<div class="announce-it" style="xxx">xxx</div>
*/

.announce-it {
    font-family: 'Dosis', sans-serif !important;
    font-size: 1.25rem !important;
    color: rgba(var(--raisin-black), 1.0);
    display: block !important;
    text-align: center !important;
    margin: 0 0 1em 0 !important;
    align-self: center !important;
}


/*
██████ ▄▄▄▄▄ ▄▄ ▄▄ ▄▄▄▄▄▄   ▄████▄ ▄▄    ▄▄  ▄▄▄▄ ▄▄  ▄▄ 
  ██   ██▄▄  ▀█▄█▀   ██     ██▄▄██ ██    ██ ██ ▄▄ ███▄██ 
  ██   ██▄▄▄ ██ ██   ██     ██  ██ ██▄▄▄ ██ ▀███▀ ██ ▀██ 
*/
/* USAGE:
"<div class="color-point ta-xxx">xxx</div>"
*/
.tal {
  --ta-align: left !important;
  text-align: left !important;
  margin-left: 0 !important;
}

.tac {
  --ta-align: center !important;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.tar {
  --ta-align: right !important;
  text-align: right !important;
  margin-left: auto !important;
  margin-right: 0 !important;
}
.taj { --ta-align: justify !important; text-align: justify !important; }